* {
    color:  red;
}
body {
    background-color: #fff7ed;
}

nav, .content {
    background-color: #ffedd5;
    
}

header {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.content {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

